<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staffs</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/output.css">
    <script src="https://kit.fontawesome.com/ad1797946c.js" crossorigin="anonymous"></script>
    <style>
        main {
            width: 100%;
        }
        @media screen and (min-width: 768px) {
            main {
                width: calc(100% - 256px);
            }
        }

        th, td {
            text-wrap: nowrap;
        }
        #staff-detail-content tr td {
            padding: 5px;
        }
        #staff-detail-content tr td:nth-child(odd) {
            text-align: left;
        }

        #staff-detail-content tr td:nth-child(even) {
            text-align: right;
        }
    </style>
</head>
<body class="h-screen bg-slate-200 w-screen">
    
    <div class="container-xl flex w-full h-full" id="container">
        
        <%- include('../navbar') %>
        
        <main class="md:ml-64 h-full p-10 flex flex-col items-center">
            
            <form action="/staffs/search" class="mb-4 w-1/2 flex">
                <input type="text" name="name" class="p-3 rounded-s-md outline-none w-full" placeholder="Enter staff name...">
                <button class="bg-white pr-2 rounded-e-md"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="grid grid-cols-3 w-full h-full gap-4">
                <div class=" bg-white col-span-3 h-full p-8 rounded shadow-xl" id="staff-grid">
                    <div class="w-full">
                        <span class="text-2xl">Staffs</span>
                        <a href="/staffs/add" class="float-right bg-sky-500 px-6 py-3 text-white rounded" ><span class="font-semibold">&plus;</span> Add staff</a>
                    </div>

                    <div id="staffTables" class="w-full mt-10 overflow-auto">
                        <table class="w-full">
                            <thead>
                                <tr class="border-b border-slate-300">
                                    <th class="p-4">Id</th>
                                    <th class="p-4">Username</th>
                                    <th class="p-4">Fullname</th>
                                    <th class="p-4">Email</th>
                                    <th class="p-4">Role</th>
                                    <th class="p-4">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach(u =>{ %>
                                    <tr class=" border-b border-slate-300 hover:bg-slate-100" data-id="<%= u.user_id %>" id="<%= u.user_id %>">
                                        <td class="text-center p-4"><%= u.user_id %></td>
                                        <td class="text-center p-4"><%= u.username %></td>
                                        <td class="text-center p-4"><%= u.fullname %></td>
                                        <td class="text-center p-4"><%= u.email %></td>
                                        <td class="text-center p-4 text-green-500"><%= u.role %></td>
                                        <td class="flex justify-center items-center p-4 gap-x-2">
                                            <button class="delete-btn text-red-500 border border-red-500 px-4 py-2 rounded" data-id="<%= u.user_id %>" data-name="<%= u.fullname %>">
                                                <i class="fa-solid fa-trash"></i> <span class="xl:inline-block hidden">Delete</span>
                                            </button>
                                            <button class="staff-info text-violet-500 border border-violet-500 px-4 py-2 rounded" data-id="<%= u.user_id %>">
                                                <i class="fa-solid fa-eye"></i> <span class="xl:inline-block hidden">View</span>
                                            </button>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                            
                        </table>
                    </div>
                    
                </div>
                <div class=" bg-white w-full h-full hidden px-3 rounded shadow-xl" id="staff-detail">
                    <div class="w-full mb-4">
                        <button class="font-extrabold text-3xl block lg:hidden" onclick="closeDetail()">&LeftArrow;</button>
                        <button class="float-right font-bold text-2xl hidden lg:block" id="close-detail-btn" onclick="closeDetail()">&times;</button>
                    </div>
                    <div class="w-full lg:mt-10">
                        <div class="user-img max-w-52 mb-4 mx-auto">
                            <img alt="" id="userImage" class="rounded-full">
                        </div>
                        <div class="w-full my-2">
                            <p class="text-center text-lg font-semibold" id="fullname"></p>
                            <p class="text-center text-slate-500" id="username"></p>

                        </div>
                        <table class="w-full">
                            <thead>
                                <tr class="">
                                    
                                </tr>
                            </thead>
                            <tbody id="staff-detail-content">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Warning Modal-->
    <div id="delete-warning-model" class="hidden absolute bg-white w-full sm:w-1/2 lg:w-1/3 h-1/2 p-3 left-0 right-0 top-0 bottom-0 mx-auto  my-auto rounded-lg shadow-lg z-50 ">
        <button class="absolute right-1 top-1 font-bold text-xl px-2 hover:bg-slate-100 hover:rounded-full" onclick="closeModal()"><i class="fa-solid fa-xmark"></i></button>
        <div class="w-full flex flex-col justify-center items-center h-full gap-y-8">
            <p class="text-lg">Delete <span id="fullname-display" class="text-sky-600 font-bold">name</span> from staff list?</p>
            <button class="bg-red-500 text-white px-6 py-3 rounded text-md hover:bg-red-600" id="confirm-delete-btn">Confirm</button>
        </div>
    </div>

    <script src="/js/staffs.js"></script>
    <script>
        const deleteBtn = document.querySelectorAll('.delete-btn');
        const confirmBtn = document.getElementById('confirm-delete-btn');
        const modal = document.getElementById('delete-warning-model');
        const container = document.getElementById('container');
        function closeModal() {
            modal.classList.add('hidden');
            container.classList.remove('opacity-50', 'pointer-event-none')
        }
        deleteBtn.forEach((btn) => {
            btn.addEventListener('click',  () => {
                const userId = btn.getAttribute('data-id');
                const fullname = btn.getAttribute('data-name');
                modal.classList.remove('hidden');
                container.classList.add('opacity-50', 'pointer-event-none');
                document.getElementById('fullname-display').textContent = fullname;
                
                confirmBtn.addEventListener('click', async () => {
                    const response = await fetch(`http://localhost:3000/staffs/delete/${userId}`);
                    const responseData = await response.json()
                    if(responseData.code === 0) {
                        closeModal();
                        document.getElementById(userId).remove();
                    }
                    
                })
            })
        })
    </script>
</body>
</html>