<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/ad1797946c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>    
    <style>
        
        /* main {
            width: 100%;
        }
        @media screen and (min-width: 768px) {
            main {
                width:calc(100% - 256px);
            }
        } */
        tr:nth-child(even) {
            background-color: rgb(203, 213, 225);
        }
        
        td {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            padding: 12px;
        }
        tr > td:nth-child(even) {
            text-align: right;
        }
        
           
    </style>

</head>
<body class="h-screen bg-slate-200">
    <div class="container-xl h-full">
        <%- include('shopNavbar') %>
        <main class="px-5 h-full w-full">
            <div class="relative bg-white w-full h-fit grid grid-cols-2 gap-x-4 p-2 rounded">
                <div class="col-span-full px-10">
                    <a href="/" class="text-xl font-bold">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                    <a href="/your-cart" class="float-right text-2xl">
                        <span class="relative text-sm text-white px-1 rounded-full bg-sky-500 bottom-4 left-10 border-2 border-white" id="quantity-in-cart">0</span>
                        <i class="fa-solid fa-cart-shopping"></i>

                    </a>
                </div>
                
                <div class=" w-full h-full col">
                    <img src="/images/products/<%= product.product_image %>" alt="" class="w-full">
                </div>
                <div class="h-full col-span-1  w-full p-10 overflow-auto">
                    <div class="mb-10">
                        <p class="text-4xl text-sky-500" id="product-name"><%= product.product_name %></p>
                        <p class="text-3xl text-red-500 font-bold" id="product-price"><%= product.retail_price %><i class="fa-solid fa-dong-sign"></i></p>
                    </div>
                    <div class="w-full rounded">
                        <table class="w-full h-fit">
                            <caption class="bg-slate-300 p-2 text-lg font-semibold rounded-t-lg">Specification</caption>
                            <tbody>
                                <tr >
                                    <td>Manufacturer</td>
                                    <td><%= product.manufacturer %></td>
                                </tr>
                                <tr class="p-2">
                                    <td>Screen</td>
                                    <td><%= product.manufacturer %></td>
                                </tr>
                                <tr class="p-2">
                                    <td>Weight</td>
                                    <td><%= product.manufacturer %></td>
                                </tr>
                                <tr class="p-2">
                                    <td>Ram</td>
                                    <td><%= product.ram + 'GB' %></td>
                                </tr>
                                <tr class="p-2">
                                    <td>SSD</td>
                                    <td><%= product.ssd + 'GB' %></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <% if(product.quantity_in_stock != 0) { %>
                                        <td class="font-bold">Status: <span class="text-green-500">In stock</span></td>
                                    <% } else { %>
                                        <td class="font-bold">Status: <span class="text-red-500">Out of stock</span></td>
                                    <% } %>
                                    <td>
                                        <button class="px-6 py-3 bg-amber-500 rounded-3xl border-2 border-amber-200 hover:shadow-lg hover:shadow-amber-300" id="add-cart-btn" data-id="<%= product.product_id %>">Add to cart</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    
                        
                </div>
            </div>
            
        </main>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const addToCartBtn = document.getElementById('add-cart-btn');
            var cart = JSON.parse(localStorage.getItem('cart')) || [];
            let quantityInCart = document.getElementById('quantity-in-cart');
            quantityInCart.textContent = cart.length;
            
            addToCartBtn.addEventListener('click', () => {
                const productId = addToCartBtn.getAttribute('data-id');
                const productName = document.getElementById('product-name').textContent;
                const productPrice = document.getElementById('product-price').textContent;
                const productExistedInCart = cart.findIndex((product) => product.productId == productId);

                if(productExistedInCart !== -1) {
                    cart[productExistedInCart].quantity++;
                }
                else {
                    cart.push({
                        productId: productId,
                        productName: productName,
                        productPrice: productPrice,
                        quantity: 1
                    });
                }

                localStorage.setItem('cart', JSON.stringify(cart));
                quantityInCart.textContent = cart.length;
            })
            
        })
    </script>
</body>
</html>