<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        
        th, td {
            text-wrap: nowrap;
        }
        main {
            width: 100%;
        }
        @media screen and (min-width: 768px) {
            main {
                width:calc(100% - 256px);
            }
        }
    </style>
   
</head>
<body class="h-screen bg-slate-200 w-screen">
    <div class="container-xl flex h-full ">
        <%- include('../navbar') %>
        
        <main class="md:ml-64 h-full">
            
            <div class="p-5 w-full h-full grid grid-rows-5 gap-y-6 ">
                
                <div class="bg-white row-span-1 rounded">
                    
                    <form action="/inventory/search" class="flex justify-between items-center h-full w-full px-10 gap-x-2">
                        <div class="">
                            <input type="text" class="border border-gray-300 p-3 outline-none w-full rounded" placeholder="Enter product name/id..." name="product_name">
                        </div>
                        <div class="">
                            <select name="ram" id="" class="p-3 outline-none bg-slate-100 w-full rounded">
                                <option value="">Ram</option>
                                <option value="4">4GB</option>
                                <option value="8">8GB</option>
                                <option value="12">12GB</option>
                                <option value="16">16GB</option>
                                <option value="24">24GB</option>
                                <option value="32">32GB</option>
                                <option value="64">64GB</option>
                                <option value="128">128GB</option>
                            </select>
                        </div>

                        <div class="">
                            <select name="ssd" id="" class="p-3 outline-none bg-slate-100 w-full rounded">
                                <option value="">SSD</option>
                                <option value="128">128Gb</option>
                                <option value="240">240GB</option>
                                <option value="256">256GB</option>
                                <option value="512">512GB</option>
                                <option value="1000">1TB</option>
                                <option value="2000">2TB</option>
                                <option value="4000">4TB</option>
                            </select>
                        </div>
                        <div class="">
                            <select name="category" id="" class="p-3 outline-none bg-slate-100 w-full rounded">
                                <option value="">Category</option>
                                <option value="PC/Office">Office computer</option>
                                <option value="PC/Gaming">Gaming computer</option>
                                <option value="Laptop/Office">Office laptop</option>
                                <option value="Laptop/Gaming">Gaming laptop</option>
                                <option value="Laptop/Macbook">Macbook</option>
                                <option value="Component">Pc/Laptop components</option>
                            </select>
                        </div>
                        
                        <div class="">
                            
                            <select name="price" id="" class="p-3 outline-none bg-slate-100 w-full rounded">
                                <option value="">Price</option>
                                <option value="10000000"> < 10.000.000</option>
                                <option value="20000000">10.000.000 - 20.000.000 VND</option>
                                <option value="30000000">20.000.000 - 30.000.000 VND</option>
                                <option value="40000000">30.000.000 - 40.000.000 VND</option>
                                <option value="50000000">40.000.000 - 50.000.000 VND</option>
                            </select>
                        </div>
                        <button type="submit" class="py-3 px-6 bg-sky-500 text-white rounded ">Submit</button>
                    </form>
                </div>
                <div class="product-table-container p-5 bg-white row-span-4  rounded overflow-auto">
                    <% if(user.role === 'ADMIN') { %>
                        <div class="mb-10 w-full ">
                            <button class="px-6 py-3 bg-red-200 text-white pointer-events-none rounded" id="delete-btn">Delete (<span id="delete-quantity">0</span>)</button>
                            <a href="/inventory/add" class="bg-sky-500 px-6 py-3 float-right text-white rounded">+ Add</a>
                        </div>
                    <% } %>
                    
                    <table class="w-full">
                        
                        <thead>
                            <tr class="border-b border-slate-300">
                                <% if(user.role === 'ADMIN') { %>
                                    <th class="p-5">Choose</th>
                                <% } %>
                                <th class=" p-5">No.</th>
                                <th class="p-5">Name</th>
                                <th class="p-5">Category</th>
                                <th class="p-5">Price</th>
                                <th class="p-5">Import date</th>
                                <th class="p-5">Quantity</th>
                                <% if(user.role === 'ADMIN') { %>
                                    <th class="p-5">Action</th>
                                <% } %>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(products.length == 0) { %>
                                <tr>
                                    <td colspan="7" class="text-center pt-4 text-xl">
                                        <% if(products.length == 0) { %>
                                            <%= message %>
                                        <% } %>
                                    </td>
                                </tr>
                            <% } %>
                        <% products.forEach((p, index) =>{ %>
                            <tr class="border-b border-slate-300" data-id="<%= p.product_id %>">
                                <% if(user.role === 'ADMIN') { %> 
                                    <td class="text-center p-5">
                                        <form action="">
                                            <input type="checkbox" name="product_id" id="" value="<%= p.product_id %>">
                                        </form>
                                    </td>
                                <% } %>
                                <td class="text-center p-5"><%= index + 1 %></td>
                                <td class="text-center" ><%= p.product_name %></td>
                                <td class="text-center "><%= p.category %></td>
                                <td class="text-center "><%= p.retail_price %></td>
                                <td class="text-center "><%= p.import_date.toLocaleDateString('en-GB') %></td>
                                <td class="text-center "><%= p.quantity_in_stock %></td>
                                <% if(user.role === 'ADMIN') { %>
                                <td class="text-center">
                                    <a href="/inventory/detail/<%= p.product_id %>" class="pl-3 pr-3 py-3 text-white bg-teal-500 rounded hover:bg-teal-600 text-nowrap">
                                        <i class="fa-solid fa-eye"></i> <span class="lg:inline-block hidden">Detail</span>
                                    </a>
                                </td>
                                <% } %>
                            </tr>
                        <% }) %>
                        </tbody>
                    </table>
                    
                </div>
            </div>
            
        </main>
    </div>

    <script>
        const checkboxes = document.querySelectorAll('input[name="product_id"]');
        const deleteProductsBtn = document.getElementById('delete-btn');
        let checkedItems = []

        function disableDeleteBtn() {
            if(checkedItems.length > 0) {
                deleteProductsBtn.classList.add('bg-red-500');
                deleteProductsBtn.classList.remove('pointer-events-none');
                document.getElementById('delete-quantity').textContent = checkedItems.length;
            }
            else {
                deleteProductsBtn.classList.remove('bg-red-500');
                deleteProductsBtn.classList.add('pointer-events-none');
                document.getElementById('delete-quantity').textContent = 0; 
            }
        }
        checkboxes.forEach((box) => {
            box.addEventListener('click', () => {
                if(box.checked == true) {
                    checkedItems.push(parseInt(box.value));
                }
                else {
                    checkedItems.pop();
                }

                disableDeleteBtn();
                
            })

        })

        deleteProductsBtn.addEventListener('click', async (e) => {
            const response = await fetch('http://localhost:3000/inventory/delete', {
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({product_ids: checkedItems})
            })

            const responseData = await response.json();
            if(responseData.code === 0) {
                
                const tbody = document.querySelector('tbody');
                const rows = tbody.querySelectorAll('tr');

                rows.forEach(row => {
                    const rowId = row.getAttribute('data-id');
                    
                    if(checkedItems.includes(parseInt(rowId))) {
                        tbody.removeChild(row);
                    }
                })

                checkedItems.splice(0, checkedItems.length);
                disableDeleteBtn();
                
            }   
            else {
                alert('Unable to delete the product that has been sold!');
                
            }

        })
        

    </script>
</body>
</html>