<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/ad1797946c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>    
    <style>
        
        /* main {
            width: 100%;
        }
        @media screen and (min-width: 768px) {
            main {
                width:calc(100% - 256px);
            }
        } */
        tr:nth-child(even) {
            background-color: rgb(203, 213, 225);
        }
        
        td {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            padding: 12px;
        }
        tr > td:nth-child(even) {
            text-align: right;
        }
        
           
    </style>

</head>
<body class="h-screen bg-slate-200">
    <div class="container-xl flex h-full">
        <main class="p-5 h-full w-full">
            <div class="bg-white w-full h-full grid grid-cols-2 gap-x-4 p-2 rounded">
                <div class=" w-full h-full">
                    <img src="/images/products/<%= product.product_image %>" alt="" class="w-full">
                </div>
                <div class="h-full col-span-1  w-full p-10 overflow-auto">
                    <div class="mb-10">
                        <p class="text-4xl text-sky-500"><%= product.product_name %></p>
                        <p class="text-3xl text-red-500 font-bold"><%= product.retail_price %></p>
                    </div>
                    <div class="w-full rounded">
                        <table class="w-full h-fit">
                            <caption class="bg-slate-300 p-2 text-lg font-semibold rounded-t-lg">Specification</caption>
                            <tbody>
                                <tr >
                                    <td>Manufacturer</td>
                                    <td><%= product.manufacturer %></td>
                                </tr>
                                <tr class="p-2">
                                    <td>Screen</td>
                                    <td><%= product.manufacturer %></td>
                                </tr>
                                <tr class="p-2">
                                    <td>Weight</td>
                                    <td><%= product.manufacturer %></td>
                                </tr>
                                <tr class="p-2">
                                    <td>Ram</td>
                                    <td><%= product.ram + 'GB' %></td>
                                </tr>
                                <tr class="p-2">
                                    <td>SSD</td>
                                    <td><%= product.ssd + 'GB' %></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Status: <%= product.quantity_in_stock != 0 ? 'Con hang' : 'Het hang' %></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    
                        
                </div>
            </div>
            
        </main>
    </div>
    
    <script>
        // const sendingBtn = document.getElementById('sending-data-btn')
        // sendingBtn.addEventListener('click', async (e) => {
        //     e.preventDefault();
        //     const productName = document.getElementById('product-name').value;
        //     const category = document.getElementById('category').value;
        //     const manufacturer = document.getElementById('manufacturer').value;
        //     const importPrice = document.getElementById('import-price').value;
        //     const retailPrice = document.getElementById('retail-price').value;
        //     const importDate = document.getElementById('import-date').value;
        //     const quantity = document.getElementById('quantity-in-stock').value;
            
        //     const newProductData = {
        //         productName: productName,
        //         category: category,
        //         manufacturer: manufacturer,
        //         importPrice: importPrice,
        //         retailPrice: retailPrice,
        //         importDate: importDate,
        //         quantity: quantity
        //     };
        //     console.log(newProductData);
        //     const proudctId = sendingBtn.getAttribute('data-id');
        //     const response = await fetch(`http://localhost:3000/products/update/${proudctId}`, {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json'
        //         },
        //         body: JSON.stringify(newProductData)
        //     });

        //     const responseData = await response.json();
        //     console.log(responseData)

        // })    
    </script>
</body>
</html>