<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/ad1797946c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>    
    <style>
        th, td {
            padding: 8px 0;
        }
        main {
            width: 100%;
        }
        @media screen and (min-width: 768px) {
            main {
                width:calc(100% - 256px);
            }
        }
        
        
    </style>

</head>
<body class="h-screen bg-slate-200">
    <div class="container-xl flex h-full">
        <%- include('navbar') %>
        
        <main class="md:ml-64 px-5 py-5 lg:px-8 grid lg:grid-rows-4 sm:grid-rows-3 grid-rows-2 gap-y-4" >
            
            <div class="grid row-span-1 text-white text-lg font-bold grid-cols-2 sm:grid-cols-4 lg:grid-cols-4 md:grid-cols-2 gap-4  mx-auto lg:row-span-1 md:row-span-2 w-full">
                <a href="/staffs" class="block bg-gradient-to-tr from-pink-300 to-purple-500 rounded-lg  p-5 col-span-1 row-span-1 ">
                    <div class="flex justify-between w-full h-full">
                        <div>
                            Staff
                            <p><%= data.numberOfUser %></p>
                        </div>
                        <i class="fa-solid fa-users self-center xl:text-5xl text-2xl"></i>
                    </div>
                </a>
                <a href="/sale-history" class=" block bg-gradient-to-tr from-green-300 to-teal-500 rounded-lg p-5 col-span-1 row-span-1">
                    <div class="flex justify-between w-full h-full">
                        <div>
                            Orders
                            <p><%= data.numberOfUser %></p>
                        </div>
                        <i class="fa-solid fa-clipboard-list self-center xl:text-5xl text-2xl"></i>
                    </div>
                </a>
                <a class="a bg-gradient-to-tr from-amber-300 to-orange-500 rounded-lg p-5 col-span-1 row-auto">
                    
                    <div class="flex justify-between w-full h-full">
                        <div>
                            Revenue
                            <p><%= data.totalRevenue %></p>
                        </div>
                        <i class="fa-solid fa-money-bill self-center xl:text-5xl text-2xl"></i>
                    </div>
                    
                </a>
                <a class="block bg-gradient-to-tr from-sky-300 to-blue-500 rounded-lg p-5 col-span-1 row-auto">
                    <div class="flex justify-between w-full h-full">
                        <div>
                            Revenue
                            <p><%= data.totalRevenue %></p>
                        </div>
                        <i class="fa-solid fa-money-bill-trend-up self-center xl:text-5xl text-2xl"></i>
                    </div>
                </a>
            </div>
            <div class="h-fit lg:h-full w-full  lg:row-span-3 row-span-2 grid xl:grid-cols-3 xl:grid-rows-1 xl:gap-y-0 gap-y-4 grid-cols-1 lg:grid-rows-3 grid-rows-2 xl:gap-x-2">
                <div class="bg-white rounded-lg shadow-xl col-span-2 h-full flex items-center xl:justify-normal justify-center px-2 xl:row-span-1 lg:row-span-2">
                    <canvas id="myChart" ></canvas>
                </div>
                
                <div class="bg-white rounded-lg shadow-xl p-2 xl:h-full h-fit w-full col-span-1">
                <% if(user.role === 'ADMIN') { %>
                    <table class="w-full">
                        <caption class="border-b border-slate-300 text-lg font-bold py-2 text-sky-500">Staffs of The Month <i class="fa-solid fa-fire text-amber-400"></i></caption>
                        <thead class="">
                            <tr>
                                <th class="border-r border-slate-300">Avatar</th>
                                <th class="border-r border-slate-300">Email</th>
                                <th class="border-r border-slate-300">Name</th>
                                <th class="">Overall sale</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-r border-t border-slate-300"><a href="" ><img src="/images/user.png" alt="" class="w-7 h-7 m-auto"></a></td>
                                <td class="border border-slate-300 text-center">staff@gmail.com</td>
                                <td class="border border-slate-300 text-center">Staff</td>
                                <td class="border-b border-t border-slate-300 text-center">10000</td>
                            </tr>
                            <tr>
                                <td class="border-t border-slate-300"><a href="" ><img src="/images/user.png" alt="" class="w-7 h-7 m-auto"></a></td>
                                <td class="border border-slate-300 text-center">staff@gmail.com</td>
                                <td class="border border-slate-300 text-center">Staff</td>
                                <td class="border-b border-slate-300 text-center">10000</td>
                            </tr>
                            <tr>
                                <td class="border-t border-slate-300"><a href="" ><img src="/images/user.png" alt="" class="w-7 h-7 m-auto"></a></td>
                                <td class="border border-slate-300 text-center">staff@gmail.com</td>
                                <td class="border border-slate-300 text-center">Staff</td>
                                <td class="border-b border-slate-300 text-center">10000</td>
                            </tr>
                            <tr>
                                <td class="border-y border-slate-300"><a href="" ><img src="/images/user.png" alt="" class="w-7 h-7 m-auto"></a></td>
                                <td class="border border-slate-300 text-center">staff@gmail.com</td>
                                <td class="border border-slate-300 text-center">Staff</td>
                                <td class="border-b border-slate-300 text-center">10000</td>
                            </tr>
                            <tr>
                                <td class="border-r border-slate-300 "><a href="" ><img src="/images/user.png" alt="" class="w-7 h-7 m-auto"></a></td>
                                <td class="border-r border-slate-300 text-center">staff@gmail.com</td>
                                <td class="border-r border-slate-300 text-center">Staff</td>
                                <td class="text-center">10100</td>
                            </tr>
                        </tbody>
                    </table>
                <% } else { %>
                    <table class="w-full">
                        <caption class="border-b border-slate-300 text-lg font-bold py-2 text-sky-500">Top 5 Product <i class="fa-solid fa-fire text-amber-400"></i></caption>
                        <thead class="">
                            <tr>
                                <th class="border-r border-slate-300">Avatar</th>
                                <th class="border-r border-slate-300">Email</th>
                                <th class="border-r border-slate-300">Name</th>
                                <th class="">Overall sale</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-r border-t border-slate-300"><a href="" ><img src="/images/user.png" alt="" class="w-7 h-7 m-auto"></a></td>
                                <td class="border border-slate-300 text-center">staff@gmail.com</td>
                                <td class="border border-slate-300 text-center">Staff</td>
                                <td class="border-b border-t border-slate-300 text-center">10000</td>
                            </tr>
                            <tr>
                                <td class="border-t border-slate-300"><a href="" ><img src="/images/user.png" alt="" class="w-7 h-7 m-auto"></a></td>
                                <td class="border border-slate-300 text-center">staff@gmail.com</td>
                                <td class="border border-slate-300 text-center">Staff</td>
                                <td class="border-b border-slate-300 text-center">10000</td>
                            </tr>
                            <tr>
                                <td class="border-t border-slate-300"><a href="" ><img src="/images/user.png" alt="" class="w-7 h-7 m-auto"></a></td>
                                <td class="border border-slate-300 text-center">staff@gmail.com</td>
                                <td class="border border-slate-300 text-center">Staff</td>
                                <td class="border-b border-slate-300 text-center">10000</td>
                            </tr>
                            <tr>
                                <td class="border-y border-slate-300"><a href="" ><img src="/images/user.png" alt="" class="w-7 h-7 m-auto"></a></td>
                                <td class="border border-slate-300 text-center">staff@gmail.com</td>
                                <td class="border border-slate-300 text-center">Staff</td>
                                <td class="border-b border-slate-300 text-center">10000</td>
                            </tr>
                            <tr>
                                <td class="border-r border-slate-300 "><a href="" ><img src="/images/user.png" alt="" class="w-7 h-7 m-auto"></a></td>
                                <td class="border-r border-slate-300 text-center">staff@gmail.com</td>
                                <td class="border-r border-slate-300 text-center">Staff</td>
                                <td class="text-center">10100</td>
                            </tr>
                        </tbody>
                    </table>
                <% } %>
                </div>
            </div>
        </main>
    </div>
    
    <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 10, 3, 18, 20, 100, 11, 12],
                borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        labels: {
                            color: 'rgb(25, 99, 132)'
                        },
                        
                        // fullsize: true,
                    }
                },
            },

        });
      </script>
</body>
</html>